*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}

header{
    background-color: #0A22F4;
    height: 388px;
    width: 1900px;
    margin-left: auto;
	margin-right: auto;
    padding-top: 40px;
}

.container{
    width: 1475px;
    height: 91px;
    margin-left: auto;
	margin-right: auto;
}

nav, nav ul {
	display: inline-block;
}

nav li{
    display: inline-block;
}

nav, .logo{
	vertical-align: middle;
}

header a{
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

.logo{
    width: 115px;
    height: 65px;
}

.contact{
    background-color: #FFFFFF;
    color: #171717;
    border-radius: 28px;
}

.main{
    width: 1195px;
    margin-left: 363px;
}

.mainBanner{
    margin-top: -215px;
    height: 600px;
}

h1{
    color: #171717;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 60px;
    padding-top: 30px;
}

.images img{
    width: 219px;
    height: 219px;
    margin-right: 16px;
}

.text{
    margin-left: 485px;
    width: 951px;
    margin-top: 60px;
}

.text p{
    font-size: 16px;
    padding-top: 8px;
}

.cta{
    width: 341px;
    margin-left: 790px;
    margin-top: 76px;
    margin-bottom: 76px;
    border-radius: 28px;
    background-color: #0A22F4;
}

.cta p{
    padding: 18px 57px;
    text-align: center;
    color: #FFFFFF;
}



footer{
    background-color: #0A22F4;
    width: 1900px;
    margin-left: auto;
	margin-right: auto;
}

.foot{
    padding-left: 240px;
    
}

h2{ 
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.context{
    width: 463px;
    height: 99px;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 58px;
}


.licence{
    font-size: 16px;
    color: #FFFFFF;
}

.heart{
    font-size: 13px;
    padding-left: 896px;
    color: #FFFFFF;
}


.footerImage{
    width: 121px;
}

.licence, .heart, .footerImage{
    display: inline-block;
}