*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header{
    background-color: blue;
    width: 1920px;
    height: 388px;
}

header ul{
    list-style: none;
}

.navbar{
    text-align: right;
    margin-right: 205px;
    margin-top: -81px;
}

.navbar li{
    padding-top: 21px;
}

header a{
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

.logo{
    margin-top: 27px;
    margin-left: 240px;
    width: 115px;
    height: 65px;
}

.contact{
    background-color: #FFFFFF;
    color: #171717;
    border-radius: 28px;
    height: 55px;
    width: 160px;
}

.main{
    margin-left: 362px;
}

.mainBanner{
    margin-top: -215px;
    width: 1195px;
    height: 600px;
}

h1{
    color: #171717;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 60px;
    padding-top: 30px;
}


.images img{
    width: 219px;
    height: 219px;
    margin-right: 25px;
}

.text{
    margin-left: 485px;
    width: 951px;
    margin-top: 60px;
}

.text p{
    font-size: 16px;
    padding-top: 8px;
}

.cta{
    margin-left: 790px;
    margin-top: 76px;
    border-radius: 28px;
    width: 341px;
    background-color: #0A22F4;
}

.cta p{
    padding: 18px 57px;
    color: #FFFFFF;
}
